* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  background: rgb(0, 0, 50);
  position: fixed;
  width: 100vw;
  height: 10vh;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: all 0.3s linear;
  font-weight: 200;
  box-shadow: 0 5px 20px rgb(0, 0, 50);
}

.link-text {
  color: rgb(200, 200, 200);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.navigate {
  margin: 50px;
  display: flex;
  gap: 30px;
}
.page {
  background-color: rgb(200, 200, 200);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 5px rgb(0, 0, 50);
  flex-direction: column;
  margin: 10px;
  height: 300px;
  width: 200px;
  color: rgb(0, 0, 50);
}

.product-name {
  padding: 20px;
}

.product-price {
  padding: 20px;
}

.product-amount {
  padding: 20px;
}

.add-btn {
  background-color: rgb(200, 200, 200);
  outline: none;
  border: none;
  box-shadow: 0 5px 5px rgb(0, 0, 50);
  padding: 10px;
  color: rgb(0, 0, 50);
}

.btn {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
}

#container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
