* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

#register {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 50);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reg-head {
  margin: 40px;
  letter-spacing: 3px;
}

.form-item {
  padding: 10px;
}

input {
  width: 500px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: rgb(0, 0, 50);
  background-color: rgb(200, 200, 200);
  border-bottom: 1px solid rgb(0, 0, 50);
}

button {
  font-size: 20px;
  height: 50px;
  width: 200px;
  background-color: rgb(200, 200, 200);
  border: 1px solid rgb(0, 0, 50);
  color: rgb(0, 0, 50);
  letter-spacing: 3px;
}

button:hover {
  color: rgb(20, 20, 20);
  transition: 1s;
  border: 1px solid rgb(200, 200, 200);
}

.btn {
  display: flex;
  justify-content: center;
}

.link {
  /* text-decoration: none; */
  color: rgb(0, 0, 50);
}
